<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Regisztráció</title>
</head>
<body>
    <div class="main">
        <img src="img/logo.png" alt="logo" id="logo">
        <div class="side">
            <p class="regisztracio-szoveg">Regisztráció</p>
            <div class="inputok">
                <form>
                    <input type="text" name="vezeteknev" id="vezeteknev-input" placeholder="Vezetéknév">
                    <input type="text" name="vezeteknev" id="keresztnev-input" placeholder="Keresztnév"><br>
                    <input type="email" name="email" id="email-input" placeholder="E-mail-cím"><br>
                    <input type="text" name="felhasznalo" id="felhasznalo-input" placeholder="Felhasználónév"><br>
                    <input type="password" name="jelszo" id="jelszo-input" placeholder="Jelszó"><br>
                    <input type="password" name="jelszo-megint" id="jelszo-megint-input" placeholder="Jelszó mégegyszer"><br>
                    <input type="date" name="szuletes" id="szuletes-input"><br>
                </form>
                <button name="regisztracio" id="regisztracio-gomb">Regisztráció</button>
            </div>
        </div>
        <div class="belepes-link">
            <p>Már van fiókja?</p>
            <p id="link-szoveg">Lépjen be <a href="#">itt</a>!</p>
        </div>

    </div>
    
</body>
</html>